# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/
.pytest_cache/
.mypy_cache/

# Environments
.env
.env.*
!.env.example
venv/
.venv/
ENV/

# Django
*.log
staticfiles/
media/
certs/*
!certs/.gitkeep

# IDE / OS
.idea/
.vscode/
.DS_Store

# SQLite (if used)
*.sqlite3
