services:
  db:
    image: mysql:8.4
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "127.0.0.1", "-u", "root", "-proot"]
      interval: 5s
      timeout: 3s
      retries: 30

  web:
    build: .
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - .:/app
    command: /app/entrypoint.sh
    environment:
      TZ: Asia/Yekaterinburg
      TELEGRAM_BOT_TOKEN: "8461664850:AAFx8pDlvP23E5ylJ0NvW_bBd0GA5ZMhXrg"
      TELEGRAM_CHAT_ID: "-5116053559"
      TELEGRAM_NOTIFICATIONS: "1"


volumes:
  mysql_data:
