services:
  nginx:
    ports:
      - "443:443"
    volumes:
      - ./nginx/https.conf:/etc/nginx/conf.d/default.conf:ro
      - ${SSL_CERT_PATH}:/etc/nginx/certs/fullchain.pem:ro
      - ${SSL_KEY_PATH}:/etc/nginx/certs/privkey.pem:ro
